<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>写日记</title>
    <style>
        * {
            margin: 0;
        }

        .header {
            width: 100%;
            height: 60px;
            background-color: #369;
        }

        .content {
            width: 80%;
            margin: 20px auto;
        }

    </style>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <script src="/static/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
        <link rel="icon" href="/static/img/whale.ico" type="images/x-ico" />
    <link rel="stylesheet" href="/static/editormd/css/editormd.css" />
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top navbar_self" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                         </button>
                        <a class="navbar-brand" href="/">xiayu的学习日记</a>
                    </div>


                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li >
                                <a href="/index/">
                                    <span class="glyphicon glyphicon-home"></span> 首页
                                </a>
                            </li>
                                <li>
                                <a href="/blog/">
                                    <span class="glyphicon glyphicon-pencil"></span> 日记
                                </a>
                            </li>
{#                            <li >#}
{#                                <a href="/blog/{{ user.username }}/">#}
{#                                    <span class="glyphicon glyphicon-pencil"></span>{{ user.username }}的日记#}
{#                                </a>#}
{#                            </li>#}

                        </ul>

                        <form action="/search_article/" class="navbar-form navbar-right" method="post">
                            <input name="search_article_name" type="text" placeholder="搜索日记" class="form-control">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>

                        <ul id="user_part" class="nav navbar-nav navbar-right">
                            {% if request.user.username %}


               <li><a href="/blog/{{ request.user.username }}"><i class="fa fa-user" target="_blank"></i>&nbsp;{{ request.user.username }}</a></li>
{#                 <li><a href="/blog/backend/add_article/"><i class="fa fa-pencil"></i>&nbsp;写日记</a></li>#}
                <li><a href="/logout/"><i class="fa fa-toggle-on"></i>&nbsp;注销</a></li>

                                {% else %}
                                <li><a href="/login/"><i class="fa fa-toggle-off"></i>&nbsp;登录</a></li>
                                <li><a href="/reg/"><i class="fa fa-user"></i>&nbsp;注册</a></li>

                            {% endif %}


                        </ul>
                    </div>
                </div>


<div class="content">
    <h3>添加日记</h3>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">日记标题</label>

        <input type="text" name="title" class="form-control" style="width: 200px">
         <hr>
        <label for="">日记分类</label>
        <input type="text" name="category" class="form-control" style="width: 200px">
         <hr>


            <p>内容编辑器 <span style="color:red;">(默认只显示一行 可enter显示多行 按全屏功能全屏写更棒哦！)</span></p>
{#            <textarea name="article_content" id="article_content" cols="60" rows="20"></textarea>#}
            <div id="test-editor">
    <textarea name="article_content" id="article_content"     style="display:none;height: 800px;width: 1000px">
        {{ gen_content }}
    </textarea>
</div>


        <input type="submit" class="btn btn-info">
    </form>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/editormd/editormd.min.js"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editor", {
 autoHeight : true,
            path   : "/static/editormd/lib/"
        });
    });
</script>
{#<script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>#}
{#<script charset="utf-8" src="/editor/lang/zh-CN.js"></script>#}
{#<script>#}
{#        KindEditor.ready(function(K) {#}
{#                window.editor = K.create('#article_content',{#}
{#                    width:"900",#}
{#                    height:"500",#}
{#                    uploadJson:"/upload/",#}
{#                extraFileUploadParams : {#}
{#                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),#}
{#                        item_id : 1000,#}
{#                        category_id : 1#}
{#                }#}
{#        });#}
{##}
{#        });#}
{#</script>#}

</body>
</html>